.playBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  cursor: pointer;
  margin: 150px auto;
  font-size: 20px;
}
.container{
  display: none;
  margin-top: 20px;
}
.storeDiv{
  width: 100px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.storeDiv p{
  font-size: 20px;
  font-weight: bolder;
}
.store1{
  position: absolute;
}
.store2{
  position: absolute;
  right: 10px;
}
.cube{
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.cube-1{
  left: 20%;
}
.cube-2{
  right: 20%;
}
.throwBtn{
  position: absolute;
  padding: 10px 20px;
  cursor: pointer;
}
.firstPlayerMove{
  left: 25%;
}
.secondPlayerMove{
  right: 27%;
}

.moveSection-1{
  position: absolute;
  top: 10%;
  left: 35%;
}
.moveSection-2{
  position: absolute;
  top: 10%;
  right: 35%;
}
.moveSection div {
  width: 27px;
  height: 27px;
  box-sizing: border-box;
  border: 1px solid #000000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 30%;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  background: #f2f2f2;
}
.action-2{
  right: 0;
}
.moveSection p{
  position: absolute;
  display: flex;
}

.finalScore{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 25px;
}